In [475]:
import pandas as pd
import numpy as np
import json
import re
import csv
from tqdm import tqdm

In [476]:
data = []

with open("/content/booksummaries.txt", 'r') as f:
    reader = csv.reader(f, dialect='excel-tab')
    for row in tqdm(reader):
        data.append(row)

16559it [00:00, 28382.63it/s]

In [477]:
book_id = []
book_name = []
summary = []
genre = []

for i in tqdm(data):
    book_id.append(i[0])
    book_name.append(i[2])
    genre.append(i[5])
    summary.append(i[6])

summ = pd.DataFrame({'book_id': book_id, 'Book-Title': book_name,
                       'genre': genre, 'summary': summary})
summ.head()

100%|██████████| 16559/16559 [00:00<00:00, 784918.12it/s]

,book_id,Book-Title,genre,summary
0,620,Animal Farm,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan..."
2,986,The Plague,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...
3,1756,An Enquiry Concerning Human Understanding,,The argument of the Enquiry proceeds by a ser...
4,2080,A Fire Upon the Deep,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...

In [478]:
summ.shape

(16559, 4)

In [479]:
summ.drop(summ[summ['genre']==''].index, inplace=True)
summ[summ['genre']=='']

Empty DataFrame
Columns: [book_id, Book-Title, genre, summary]
Index: []

In [480]:
summ.shape

(12841, 4)

In [481]:
json.loads(summ['genre'][0]).values()

dict_values(['Roman à clef', 'Satire', "Children's literature", 'Speculative fiction', 'Fiction'])

In [482]:
genres = []
for i in summ['genre']:
    genres.append(list(json.loads(i).values()))
summ['genre_new'] = genres

In [483]:
all_genres = sum(genres,[])
len(set(all_genres))

227

In [484]:
def clean_summary(text):
    # text = re.sub("\'", "", text)
    # text = re.sub("[^a-zA-Z]"," ",text)
    # text = ' '.join(text.split())
    # text = text.lower()
    return text

In [485]:
summ['clean_summary'] = summ['summary'].apply(lambda x: clean_summary(x))
summ.head()

,book_id,Book-Title,genre,summary,genre_new,clean_summary
0,620,Animal Farm,"{""/m/016lj8"": ""Roman \u00e0 clef"", ""/m/06nbt"":...","Old Major, the old boar on the Manor Farm, ca...","[Roman à clef, Satire, Children's literature, ...","Old Major, the old boar on the Manor Farm, ca..."
1,843,A Clockwork Orange,"{""/m/06n90"": ""Science Fiction"", ""/m/0l67h"": ""N...","Alex, a teenager living in near-future Englan...","[Science Fiction, Novella, Speculative fiction...","Alex, a teenager living in near-future Englan..."
2,986,The Plague,"{""/m/02m4t"": ""Existentialism"", ""/m/02xlf"": ""Fi...",The text of The Plague is divided into five p...,"[Existentialism, Fiction, Absurdist fiction, N...",The text of The Plague is divided into five p...
4,2080,A Fire Upon the Deep,"{""/m/03lrw"": ""Hard science fiction"", ""/m/06n90...",The novel posits that space around the Milky ...,"[Hard science fiction, Science Fiction, Specul...",The novel posits that space around the Milky ...
5,2152,All Quiet on the Western Front,"{""/m/098tmk"": ""War novel"", ""/m/016lj8"": ""Roman...","The book tells the story of Paul Bäumer, a Ge...","[War novel, Roman à clef]","The book tells the story of Paul Bäumer, a Ge..."

In [486]:
summ = summ.drop(['genre','summary','book_id'], axis=1)

In [487]:
books = pd.read_csv('/content/Books.csv')
users = pd.read_csv('/content/Users.csv')
ratings = pd.read_csv('/content/Ratings.csv')

<ipython-input-487-7bee3f0bd4fc>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('/content/Books.csv')

In [488]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [489]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [490]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [491]:
summ.isnull().sum()

Book-Title       0
genre_new        0
clean_summary    0
dtype: int64

In [492]:
bcom = summ.merge(books,on='Book-Title')

In [493]:
specific_titles = ["...And Now Miguel", "1876", "A Boy's Own Story","A Breed of Heroes","A Canticle for Leibowitz","A Caribbean Mystery",
                   "A Christmas Carol","A Dead Man in Deptford","A Demon in My View","A Feast Unknown","A Fortunate Life","A Fringe of Leaves",
                   "A Home at the End of the World","A House Divided","A Killing Frost","A Little Princess","A Man","A Pale View of Hills",
                   "A Question of Upbringing","A Ring of Endless Light","A Sensible Life","A Small Town in Germany","A Solitary Blue",
                   "A Tale of Time City","A Taste of Blackberries","A Tenured Professor","A World Out of Time","A World of Difference",
                   "A is for Alibi", "Absent in the Spring","Accident","Across the Sea of Suns","Adventures of Wim","Aeneid","After the First Death",
                   "Aftermath", "Alamut", "Alas, Babylon","Alexander and the Terrible, Horrible, No Good, Very Bad Day",
                   "All Alone","All Fall Down","All That Glitters","All the Weyrs of Pern","Always Coming Home","Amazing Grace",
                   "A Fatal Inversion","A Glass of Blessings","A Heart So White","A Stranger Is Watching","A Strange Manuscript Found in a Copper Cylinder",
                   "A Taste for Death","Adolphe","Alongside Night","American Beauty","Amelia","American Psycho","Among the Barons","Amusing Ourselves to Death: Public Discourse in the Age of Show Business",
                   "An Act of Terror","An Embarrassment of Riches","An Imaginative Experience","An Ice-Cream War","An Infamous Army",
                   "An Open Swimmer","And All Between","And Then There Were None","And So to Murder","Annie John",
                   "Anne of Windy Poplars","Anne of Ingleside","Anna Karenina","Anglo-Saxon Attitudes","Angle of Repose",
                   "Another Roadside Attraction","Another Country","Carrie", "Christine", "Dirk Gently's Holistic Detective Agency","Eaters of the Dead","Firestarter",
                   "Illusions","Insomnia","Misery","Needful Things","One Flew Over the Cuckoo's Nest","Outlander",
                   "Phantoms", "Pigs in Heaven","Pride and Prejudice","Rainbow Six","The Cider House Rules",
                   "The Color Purple","The Hitchhiker's Guide to the Galaxy","The Hunt for Red October","The Lost World",
                   "Thinner","Watership Down","Who Moved My Cheese? An Amazing Way to Deal with Change in Your Work and in Your Life",
                   "Wicked: The Life and Times of the Wicked Witch of the West","The Five People You Meet in Heaven"] 
                   # List of specific titles to remove


filt_rows = []

for index, row in bcom.iterrows():
    # Assuming the title is stored in the 'title' column
    if row['Book-Title'] not in specific_titles:  # Modify this condition based on your specific title column
        filt_rows.append(row)

bcom = pd.DataFrame(filt_rows)

In [494]:
ratings.merge(bcom,on='ISBN').shape

(142380, 12)

In [495]:
ratings_with_name = ratings.merge(bcom,on='ISBN')

In [496]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,genre_new,clean_summary,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276727,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
1,278418,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
2,638,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,3363,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
4,7158,0446520802,10,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
142375,276213,0449221008,0,The Tiger's Daughter,[Novel],The story revolves around Tara who was raised...,Bharati Mukherjee,1992,Fawcett Books,http://images.amazon.com/images/P/0449221008.0...,http://images.amazon.com/images/P/0449221008.0...,http://images.amazon.com/images/P/0449221008.0...
142376,276307,0862418399,7,Ask the Dust,"[Roman à clef, Novel, Fiction]",Arturo Bandini is a struggling writer living ...,John Fante,1999,Canongate Crime,http://images.amazon.com/images/P/0862418399.0...,http://images.amazon.com/images/P/0862418399.0...,http://images.amazon.com/images/P/0862418399.0...
142377,276556,055337849x,10,The Brothers K,[Fiction],Papa Chance is a former pitcher who has settl...,David James Duncan,1996,Bantam,http://images.amazon.com/images/P/055337849X.0...,http://images.amazon.com/images/P/055337849X.0...,http://images.amazon.com/images/P/055337849X.0...
142378,276688,0060168307,0,Sacred Clowns,"[Mystery, Speculative fiction]",The plot of the story surrounds several homic...,Tony Hillerman,1994,Harpercollins,http://images.amazon.com/images/P/0060168307.0...,http://images.amazon.com/images/P/0060168307.0...,http://images.amazon.com/images/P/0060168307.0...
142379,276688,0517145553,0,Mostly Harmless,"[Science Fiction, Speculative fiction, Fiction...","After the events in So Long, and Thanks for A...",Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...

In [497]:
num_rating_df=ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.head()

              Book-Title  Book-Rating
0         'Tis: A Memoir            2
1                   1633           10
2             1st to Die            5
3  2001: A Space Odyssey           25
4      2010: Odyssey Two           90

In [498]:
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)

In [499]:
num_rating_df

                 Book-Title  num_ratings
0            'Tis: A Memoir            2
1                      1633           10
2                1st to Die            5
3     2001: A Space Odyssey           25
4         2010: Odyssey Two           90
...                     ...          ...
4953                 Zombie           17
4954           Zombie Lover            1
4955        Zorba the Greek            4
4956         Zuleika Dobson            2
4957                      e           44

[4958 rows x 2 columns]

In [500]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_ratings'},inplace=True)
avg_rating_df

<ipython-input-500-2fe54be06a4f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                 Book-Title  avg_ratings
0            'Tis: A Memoir     4.000000
1                      1633     3.700000
2                1st to Die     3.400000
3     2001: A Space Odyssey     4.680000
4         2010: Odyssey Two     2.666667
...                     ...          ...
4953                 Zombie     2.235294
4954           Zombie Lover     0.000000
4955        Zorba the Greek     4.250000
4956         Zuleika Dobson     3.500000
4957                      e     3.818182

[4958 rows x 2 columns]

In [501]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

                 Book-Title  num_ratings  avg_ratings
0            'Tis: A Memoir            2     4.000000
1                      1633           10     3.700000
2                1st to Die            5     3.400000
3     2001: A Space Odyssey           25     4.680000
4         2010: Odyssey Two           90     2.666667
...                     ...          ...          ...
4953                 Zombie           17     2.235294
4954           Zombie Lover            1     0.000000
4955        Zorba the Greek            4     4.250000
4956         Zuleika Dobson            2     3.500000
4957                      e           44     3.818182

[4958 rows x 3 columns]

In [502]:
bcollect =  popular_df.merge(bcom,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_ratings','genre_new','clean_summary']]

In [503]:
bcollect = bcollect[bcollect['num_ratings']>=90]

In [504]:
bcollect = bcollect[bcollect['avg_ratings']>=2.5]
bcollect.shape

(289, 7)

In [506]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_ratings',ascending=False)
# .head(50)

In [508]:
popular_df = popular_df.head(50)

In [509]:
popular_df.merge(bcom,on='Book-Title').drop_duplicates('Book-Title').shape

(50, 12)

In [510]:
popular_df.merge(bcom,on='Book-Title').drop_duplicates('Book-Title')

,Book-Title,num_ratings,avg_ratings,genre_new,clean_summary,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,To Kill a Mockingbird,510,4.700000,[Fiction],The book opens with the Finch family's ancest...,0446310786,Harper Lee,1988,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
8,The Da Vinci Code,898,4.642539,"[Thriller, Conspiracy fiction, Detective ficti...",Louvre curator and Priory of Sion Grand Maste...,0385504209,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
14,The Catcher in the Rye,449,4.545657,"[First-person narrative, Fiction, Bildungsroma...",The majority of the novel takes place over tw...,0316769487,J.D. Salinger,1991,"Little, Brown",http://images.amazon.com/images/P/0316769487.0...,http://images.amazon.com/images/P/0316769487.0...,http://images.amazon.com/images/P/0316769487.0...
21,Prodigal Summer: A Novel,253,4.450593,[Novel],Prodigal Summer tells the story of a small to...,0060959037,Barbara Kingsolver,2001,Perennial,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...
22,Neverwhere,265,4.449057,"[Science Fiction, Speculative fiction, Fantasy...",Neverwhere is the story of Richard Mayhew and...,0380789019,Neil Gaiman,1998,Avon,http://images.amazon.com/images/P/0380789019.0...,http://images.amazon.com/images/P/0380789019.0...,http://images.amazon.com/images/P/0380789019.0...
27,The Secret Life of Bees,774,4.447028,"[Fiction, Novel]",Set in South Carolina in the months of July a...,0142001740,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...
33,Into the Wild,504,4.273810,"[Travel, Biography, Travel literature, Specula...","On September 6, 1992, Christopher McCandless'...",0385486804,Jon Krakauer,1997,Anchor,http://images.amazon.com/images/P/0385486804.0...,http://images.amazon.com/images/P/0385486804.0...,http://images.amazon.com/images/P/0385486804.0...
39,Fahrenheit 451,409,4.264059,"[Science Fiction, Children's literature, Specu...",On a rainy night while returning from his job...,3257208626,Ray Bradbury,1994,Distribooks Inc,http://images.amazon.com/images/P/3257208626.0...,http://images.amazon.com/images/P/3257208626.0...,http://images.amazon.com/images/P/3257208626.0...
52,Life of Pi,664,4.088855,"[Fiction, Novel]",Life of Pi is divided into three sections. In...,0151008116,Yann Martel,2002,Harcourt,http://images.amazon.com/images/P/0151008116.0...,http://images.amazon.com/images/P/0151008116.0...,http://images.amazon.com/images/P/0151008116.0...
56,The Bean Trees,389,4.087404,"[Travel, Children's literature, Fiction]",The Bean Trees opens in rural Kentucky. Taylo...,0060915544,Barbara Kingsolver,1989,Perennial,http://images.amazon.com/images/P/0060915544.0...,http://images.amazon.com/images/P/0060915544.0...,http://images.amazon.com/images/P/0060915544.0...
59,Good in Bed,490,4.055102,[Fiction],"Candace (Cannie) Shapiro is a smart, sarcasti...",0743418174,Jennifer Weiner,2002,Washington Square Press,http://images.amazon.com/images/P/0743418174.0...,http://images.amazon.com/images/P/0743418174.0...,http://images.amazon.com/images/P/0743418174.0...
61,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383,[Non-fiction],Schlosser opens the book with the ironic deli...,0060938455,Eric Schlosser,2002,Perennial,http://images.amazon.com/images/P/0060938455.0...,http://images.amazon.com/images/P/0060938455.0...,http://images.amazon.com/images/P/0060938455.0...
62,American Gods,302,4.006623,"[Science Fiction, Children's literature, Horro...",The central premise of the novel is that gods...,0380789035,Neil Gaiman,2002,HarperTorch,http://images.amazon.com/images/P/0380789035.0...,http://images.amazon.com/images/P/0380789035.0...,http://images.amazon.com/images/P/0380789035.0...
63,Skipping Christmas,322,4.006211,"[Novel, Fiction, Comedy]",The story focus on how Luther and Nora Krank ...,0385505833,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/0385505833.0...,http://images.amazon.com/images/P/0385505833.0...,http://images.amazon.com/images/P/0385505833.0...
69,City of Bones,272,3.941176,"[Crime Fiction, Mystery, Speculative fiction, ...","On New Year’s Day, a dog digs up a bone in La...",0446611611,Michael Connelly,2003,Warner Books,http://images.amazon.com/images/P/0446611611.0...,http://images.amazon.com/images/P/0446611611.0...,http://images.amazon.com/images/P/0446611611.0...
81,About a Boy,262,3.900763,"[Fiction, Novel]","The novel is about Will Freeman, a 36-year-ol...",1573227331,Nick Hornby,1999,Riverhead Books,http://images.amazon.com/images/P/1573227331.0...,http://images.amazon.com/images/P/1573227331.0...,http://images.amazon.com/images/P/1573227331.0...
88,Lord of the Flies,259,3.818533,"[Speculative fiction, Young adult literature, ...","In the midst of a wartime evacuation, a Briti...",0399501487,William Gerald Golding,1959,Perigee Trade,http://images.amazon.com/images/P/0399501487.0...,http://images.amazon.com/images/P/0399501487.0...,http://images.amazon.com/images/P/0399501487.0...
94,A Prayer for Owen Meany,413,3.796610,[Novel],"The story is narrated by John Wheelwright, a ...",0345361792,John Irving,1990,Ballantine Books,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...
96,Timeline,552,3.750000,"[Science Fiction, Fiction, Suspense]","In the middle of the New Mexico desert, a vac...",0345417623,MICHAEL CRICHTON,2000,Ballantine Books,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...,http://images.amazon.com/images/P/0345417623.0...
103,The Green Mile,264,3.681818,"[Fantasy, Speculative fiction, Horror]",A first-person narrative told by Paul Edgecom...,0671032658,Stephen King,1999,Pocket,http://images.amazon.com/images/P/0671032658.0...,http://images.amazon.com/images/P/0671032658.0...,http://images.amazon.com/images/P/0671032658.0...
106,Matilda,260,3.676923,"[Children's literature, Fantasy, Speculative f...",A young girl named Matilda Wormwood is gifted...,014034294X,Roald Dahl,1990,Puffin Books,http://images.amazon.com/images/P/014034294X.0...,http://images.amazon.com/images/P/014034294X.0...,http://images.amazon.com/images/P/014034294X.0...
128,Empire Falls,392,3.630102,"[Fiction, Novel]","Set in the small, decaying, and nearly bankru...",0375726403,Richard Russo,2002,Vintage Books USA,http://images.amazon.com/images/P/0375726403.0...,http://images.amazon.com/images/P/0375726403.0...,http://images.amazon.com/images/P/0375726403.0...
131,Red Dragon,402,3.606965,"[Thriller, Crime Fiction, Horror, Speculative ...","In 1980, a serial killer, popularly nicknamed...",0440206154,Thomas Harris,2000,Dell Publishing Company,http://images.amazon.com/images/P/0440206154.0...,http://images.amazon.com/images/P/0440206154.0...,http://images.amazon.com/images/P/0440206154.0...
139,The Stranger,351,3.589744,"[Crime Fiction, Existentialism, Fiction, Absur...",Part One begins with Meursault finding out of...,0679720200,ALBERT CAMUS,1989,Vintage,http://images.amazon.com/images/P/0679720200.0...,http://images.amazon.com/images/P/0679720200.0...,http://images.amazon.com/images/P/0679720200.0...
151,The Notebook,650,3.560000,[Romance novel],"The story begins with Noah, an 80-year-old ma...",0446605239,Nicholas Sparks,1998,Warner Books,http://images.amazon.com/images/P/0446605239.0...,http://images.amazon.com/images/P/0446605239.0...,http://images.amazon.com/images/P/0446605239.0...
156,The Talisman,454,3.555066,"[Fiction, Historical novel]",During a truce between the Christian armies t...,0425105334,Stephen King,1991,Berkley Publishing Group,http://images.amazon.com/images/P/0425105334.0...,http://images.amazon.com/images/P/0425105334.0...,http://images.amazon.com/images/P/0425105334.0...
166,Interview with the Vampire,508,3.551181,"[Vampire fiction, Horror, Speculative fiction,...",A vampire named Louis tells his 200-year-long...,0345337662,Anne Rice,1993,Ballantine Books,http://images.amazon.com/images/P/0345337662.0...,http://images.amazon.com/images/P/0345337662.0...,http://images.amazon.com/images/P/0345337662.0...
168,The Poisonwood Bible,267,3.501873,"[Fiction, Novel]",Orleanna Price narrates the introductory chap...,0060175400,Barbara Kingsolver,1999,HarperCollins,http://images.amazon.com/images/P/0060175400.0...,http://images.amazon.com/images/P/0060175400.0...,http://images.amazon.com/images/P/0060175400.0...
171,The Summons,655,3.432061,"[Mystery, Novel, Fiction, Suspense]","The main character, Ray Atlee, is a law profe...",0440241073,John Grisham,2002,Dell Publishing Company,http://images.amazon.com/images/P/0440241073.0...,http://images.amazon.com/images/P/0440241073.0...,http://images.amazon.com/images/P/0440241073.0...
175,Jurassic Park,488,3.428279,"[Science Fiction, Children's literature, Specu...",The narrative begins in August 1989 by slowly...,0345370775,Michael Crichton,1999,Ballantine Books,http://images.amazon.com/images/P/0345370775.0...,http://images.amazon.com/images/P/0345370775.0...,http://images.amazon.com/images/P/0345370775.0...
182,"Girl, Interrupted",262,3.419847,[Memoir],"In April 1967, 18-year-old Susanna Kaysen is ...",0679746048,SUSANNA KAYSEN,1994,Vintage,http://images.amazon.com/images/P/0679746048.0...,http://images.amazon.com/images/P/0679746048.0...,http://images.amazon.com/images/P/0679746048.0...
185,Chocolat,344,3.412791,"[Novel, Magic realism, Speculative fiction, Ro...","The story begins as two strangers, Vianne Roc...",0552998486,Joanne Harris,2000,Black Swan,http://images.amazon.com/images/P/0552998486.0...,http://images.amazon.com/images/P/0552998486.0...,http://images.amazon.com/images/P/0552998486.0...
191,A Walk to Remember,378,3.399471,"[Speculative fiction, Fiction, Romance novel, ...",The story starts with a prologue from Landon ...,0446608955,Nicholas Sparks,2000,Warner Books,http://images.amazon.com/images/P/0446608955.0...,http://images.amazon.com/images/P/0446608955.0...,http://images.amazon.com/images/P/0446608955.0...
195,The Handmaid's Tale,311,3.398714,"[Science Fiction, Feminist science fiction, Sp...",The Handmaid's Tale is set in the near future...,0449212602,Margaret Atwood,1989,Fawcett Books,http://images.amazon.com/images/P/0449212602.0...,http://images.amazon.com/images/P/0449212602.0...,http://images.amazon.com/images/P/0449212602.0...
199,One Door Away from Heaven,298,3.389262,"[Speculative fiction, Horror, Suspense]",A shapechanging alien has come to Earth with ...,0553582755,Dean R. Koontz,2002,Bantam Books,http://images.amazon.com/images/P/0553582755.0...,http://images.amazon.com/images/P/0553582755.0...,http://images.amazon.com/images/P/0553582755.0...
201,Summer Sisters,573,3.361257,[Novel],The novel begins with a phone call from Caitl...,0385324057,Judy Blume,1998,Delacorte Press,http://images.amazon.com/images/P/0385324057.0...,http://images.amazon.com/images/P/0385324057.0...,http://images.amazon.com/images/P/0385324057.0...
205,Icy Sparks,309,3.346278,"[Fiction, Novel]",A young girl struggling with accusations of T...,0142000205,Gwyn Hyman Rubio,2001,Penguin Books,http://images.amazon.com/images/P/0142000205.0...,http://images.amazon.com/images/P/0142000205.0...,http://images.amazon.com/images/P/0142000205.0...
207,Birthright,256,3.304688,"[Science Fiction, Speculative fiction]",After the TARDIS malfunctions and then explod...,0515137111,Nora Roberts,2004,Jove Books,http://images.amazon.com/images/P/0515137111.0...,http://images.amazon.com/images/P/0515137111.0...,http://images.amazon.com/images/P/0515137111.0...
215,The Partner,478,3.290795,"[Mystery, Children's literature, Fiction, Susp...","Patrick Lanigan, a junior partner in a law fi...",0385472951,John Grisham,1997,Doubleday Books,http://images.amazon.com/images/P/0385472951.0...,http://images.amazon.com/images/P/0385472951.0...,http://images.amazon.com/images/P/0385472951.0...
219,The God of Small Things,289,3.287197,"[Fiction, Novel]","The story, told here in chronological order, ...",0060977493,Arundhati Roy,1998,Perennial,http://images.amazon.com/images/P/0060977493.0...,http://images.amazon.com/images/P/0060977493.0...,http://images.amazon.com/images/P/0060977493.0...
221,2nd Chance,356,3.269663,"[Crime Fiction, Mystery, Fiction, Suspense]",Homicide Lieutenant Lindsay Boxer is still re...,0316693200,James Patterson,2002,"Little, Brown",http://images.amazon.com/images/P/0316693200.0...,http://images.amazon.com/images/P/0316693200.0...,http://images.amazon.com/images/P/0316693200.0...
225,Snow Falling on Cedars,662,3.252266,"[Fiction, Novel]",Set on the fictional San Piedro Island in the...,0151001006,David Guterson,1994,Harcourt,http://images.amazon.com/images/P/0151001006.0...,http://images.amazon.com/images/P/0151001006.0...,http://images.amazon.com/images/P/0151001006.0...
232,A Painted House,838,3.231504,"[Thriller, Fiction]",The story begins to unfold as Luke and his gr...,044023722X,John Grisham,2001,Dell Publishing Company,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...
237,Unnatural Exposure,258,3.220930,"[Crime Fiction, Mystery, Novel, Fiction, Suspe...",Virginia Chief Medical Examiner Kay Scarpetta...,0316639842,Cornwell Patricia,0,Little Brown Company,http://images.amazon.com/images/P/0316639842.0...,http://images.amazon.com/images/P/0316639842.0...,http://images.amazon.com/images/P/0316639842.0...
243,Dreamcatcher,481,3.212058,"[Speculative fiction, Horror, Fiction, Suspense]",Dreamcatcher is set near the fictional town o...,0743211383,Stephen King,2001,Scribner,http://images.amazon.com/images/P/0743211383.0...,http://images.amazon.com/images/P/0743211383.0...,http://images.amazon.com/images/P/0743211383.0...
255,Dolores Claiborne,275,3.185455,"[Thriller, Children's literature, Horror, Spec...","As the story begins, Dolores Claiborne is in ...",0451177096,Stephen King,2004,Signet Book,http://images.amazon.com/images/P/0451177096.0...,http://images.amazon.com/images/P/0451177096.0...,http://images.amazon.com/images/P/0451177096.0...
265,Point of Origin,277,3.180505,[Crime Fiction],"Dr Kay Scarpetta, Virginia Chief Medical Exam...",0425169863,Patricia Daniels Cornwell,1999,Berkley Publishing Group,http://images.amazon.com/images/P/0425169863.0...,http://images.amazon.com/images/P/0425169863.0...,http://images.amazon.com/images/P/0425169863.0...
267,The Testament,1234,3.179903,"[Thriller, Fiction, Suspense]","Troy Phelan, an eccentric elderly billionaire...",0440234743,John Grisham,1999,Dell,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...,http://images.amazon.com/images/P/0440234743.0...
281,I Know This Much Is True,276,3.173913,"[Fiction, Novel]","The novel takes place in Three Rivers, Connec...",0060987561,Wally Lamb,1999,Regan Books,http://images.amazon.com/images/P/0060987561.0...,http://images.amazon.com/images/P/0060987561.0...,http://images.amazon.com/images/P/0060987561.0...
285,A Time to Kill,549,3.122040,"[Mystery, Speculative fiction, Fiction, Suspense]","In the fictional Clanton, Mississippi, 10-yea...",0440211727,JOHN GRISHAM,1992,Dell,http://images.amazon.com/images/P/0440211727.0...,http://images.amazon.com/images/P/0440211727.0...,http://images.amazon.com/images/P/0440211727.0...

In [511]:
popular_df = popular_df.merge(bcom,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_ratings','genre_new','clean_summary']]

In [512]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_ratings,genre_new,clean_summary
0,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000,[Fiction],The book opens with the Finch family's ancest...
8,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539,"[Thriller, Conspiracy fiction, Detective ficti...",Louvre curator and Priory of Sion Grand Maste...
14,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657,"[First-person narrative, Fiction, Bildungsroma...",The majority of the novel takes place over tw...
21,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593,[Novel],Prodigal Summer tells the story of a small to...
22,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,4.449057,"[Science Fiction, Speculative fiction, Fantasy...",Neverwhere is the story of Richard Mayhew and...
27,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028,"[Fiction, Novel]",Set in South Carolina in the months of July a...
33,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,504,4.273810,"[Travel, Biography, Travel literature, Specula...","On September 6, 1992, Christopher McCandless'..."
39,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,409,4.264059,"[Science Fiction, Children's literature, Specu...",On a rainy night while returning from his job...
52,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855,"[Fiction, Novel]",Life of Pi is divided into three sections. In...
56,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404,"[Travel, Children's literature, Fiction]",The Bean Trees opens in rural Kentucky. Taylo...
59,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102,[Fiction],"Candace (Cannie) Shapiro is a smart, sarcasti..."
61,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383,[Non-fiction],Schlosser opens the book with the ironic deli...
62,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623,"[Science Fiction, Children's literature, Horro...",The central premise of the novel is that gods...
63,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211,"[Novel, Fiction, Comedy]",The story focus on how Luther and Nora Krank ...
69,City of Bones,Michael Connelly,http://images.amazon.com/images/P/0446611611.0...,272,3.941176,"[Crime Fiction, Mystery, Speculative fiction, ...","On New Year’s Day, a dog digs up a bone in La..."
81,About a Boy,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...,262,3.900763,"[Fiction, Novel]","The novel is about Will Freeman, a 36-year-ol..."
88,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,259,3.818533,"[Speculative fiction, Young adult literature, ...","In the midst of a wartime evacuation, a Briti..."
94,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610,[Novel],"The story is narrated by John Wheelwright, a ..."
96,Timeline,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345417623.0...,552,3.750000,"[Science Fiction, Fiction, Suspense]","In the middle of the New Mexico desert, a vac..."
103,The Green Mile,Stephen King,http://images.amazon.com/images/P/0671032658.0...,264,3.681818,"[Fantasy, Speculative fiction, Horror]",A first-person narrative told by Paul Edgecom...
106,Matilda,Roald Dahl,http://images.amazon.com/images/P/014034294X.0...,260,3.676923,"[Children's literature, Fantasy, Speculative f...",A young girl named Matilda Wormwood is gifted...
128,Empire Falls,Richard Russo,http://images.amazon.com/images/P/0375726403.0...,392,3.630102,"[Fiction, Novel]","Set in the small, decaying, and nearly bankru..."
131,Red Dragon,Thomas Harris,http://images.amazon.com/images/P/0440206154.0...,402,3.606965,"[Thriller, Crime Fiction, Horror, Speculative ...","In 1980, a serial killer, popularly nicknamed..."
139,The Stranger,ALBERT CAMUS,http://images.amazon.com/images/P/0679720200.0...,351,3.589744,"[Crime Fiction, Existentialism, Fiction, Absur...",Part One begins with Meursault finding out of...
151,The Notebook,Nicholas Sparks,http://images.amazon.com/images/P/0446605239.0...,650,3.560000,[Romance novel],"The story begins with Noah, an 80-year-old ma..."
156,The Talisman,Stephen King,http://images.amazon.com/images/P/0425105334.0...,454,3.555066,"[Fiction, Historical novel]",During a truce between the Christian armies t...
166,Interview with the Vampire,Anne Rice,http://images.amazon.com/images/P/0345337662.0...,508,3.551181,"[Vampire fiction, Horror, Speculative fiction,...",A vampire named Louis tells his 200-year-long...
168,The Poisonwood Bible,Barbara Kingsolver,http://images.amazon.com/images/P/0060175400.0...,267,3.501873,"[Fiction, Novel]",Orleanna Price narrates the introductory chap...
171,The Summons,John Grisham,http://images.amazon.com/images/P/0440241073.0...,655,3.432061,"[Mystery, Novel, Fiction, Suspense]","The main character, Ray Atlee, is a law profe..."
175,Jurassic Park,Michael Crichton,http://images.amazon.com/images/P/0345370775.0...,488,3.428279,"[Science Fiction, Children's literature, Specu...",The narrative begins in August 1989 by slowly...
182,"Girl, Interrupted",SUSANNA KAYSEN,http://images.amazon.com/images/P/0679746048.0...,262,3.419847,[Memoir],"In April 1967, 18-year-old Susanna Kaysen is ..."
185,Chocolat,Joanne Harris,http://images.amazon.com/images/P/0552998486.0...,344,3.412791,"[Novel, Magic realism, Speculative fiction, Ro...","The story begins as two strangers, Vianne Roc..."
191,A Walk to Remember,Nicholas Sparks,http://images.amazon.com/images/P/0446608955.0...,378,3.399471,"[Speculative fiction, Fiction, Romance novel, ...",The story starts with a prologue from Landon ...
195,The Handmaid's Tale,Margaret Atwood,http://images.amazon.com/images/P/0449212602.0...,311,3.398714,"[Science Fiction, Feminist science fiction, Sp...",The Handmaid's Tale is set in the near future...
199,One Door Away from Heaven,Dean R. Koontz,http://images.amazon.com/images/P/0553582755.0...,298,3.389262,"[Speculative fiction, Horror, Suspense]",A shapechanging alien has come to Earth with ...
201,Summer Sisters,Judy Blume,http://images.amazon.com/images/P/0385324057.0...,573,3.361257,[Novel],The novel begins with a phone call from Caitl...
205,Icy Sparks,Gwyn Hyman Rubio,http://images.amazon.com/images/P/0142000205.0...,309,3.346278,"[Fiction, Novel]",A young girl struggling with accusations of T...
207,Birthright,Nora Roberts,http://images.amazon.com/images/P/0515137111.0...,256,3.304688,"[Science Fiction, Speculative fiction]",After the TARDIS malfunctions and then explod...
215,The Partner,John Grisham,http://images.amazon.com/images/P/0385472951.0...,478,3.290795,"[Mystery, Children's literature, Fiction, Susp...","Patrick Lanigan, a junior partner in a law fi..."
219,The God of Small Things,Arundhati Roy,http://images.amazon.com/images/P/0060977493.0...,289,3.287197,"[Fiction, Novel]","The story, told here in chronological order, ..."
221,2nd Chance,James Patterson,http://images.amazon.com/images/P/0316693200.0...,356,3.269663,"[Crime Fiction, Mystery, Fiction, Suspense]",Homicide Lieutenant Lindsay Boxer is still re...
225,Snow Falling on Cedars,David Guterson,http://images.amazon.com/images/P/0151001006.0...,662,3.252266,"[Fiction, Novel]",Set on the fictional San Piedro Island in the...
232,A Painted House,John Grisham,http://images.amazon.com/images/P/044023722X.0...,838,3.231504,"[Thriller, Fiction]",The story begins to unfold as Luke and his gr...
237,Unnatural Exposure,Cornwell Patricia,http://images.amazon.com/images/P/0316639842.0...,258,3.220930,"[Crime Fiction, Mystery, Novel, Fiction, Suspe...",Virginia Chief Medical Examiner Kay Scarpetta...
243,Dreamcatcher,Stephen King,http://images.amazon.com/images/P/0743211383.0...,481,3.212058,"[Speculative fiction, Horror, Fiction, Suspense]",Dreamcatcher is set near the fictional town o...
255,Dolores Claiborne,Stephen King,http://images.amazon.com/images/P/0451177096.0...,275,3.185455,"[Thriller, Children's literature, Horror, Spec...","As the story begins, Dolores Claiborne is in ..."
265,Point of Origin,Patricia Daniels Cornwell,http://images.amazon.com/images/P/0425169863.0...,277,3.180505,[Crime Fiction],"Dr Kay Scarpetta, Virginia Chief Medical Exam..."
267,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,1234,3.179903,"[Thriller, Fiction, Suspense]","Troy Phelan, an eccentric elderly billionaire..."
281,I Know This Much Is True,Wally Lamb,http://images.amazon.com/images/P/0060987561.0...,276,3.173913,"[Fiction, Novel]","The novel takes place in Three Rivers, Connec..."
285,A Time to Kill,JOHN GRISHAM,http://images.amazon.com/images/P/0440211727.0...,549,3.122040,"[Mystery, Speculative fiction, Fiction, Suspense]","In the fictional Clanton, Mississippi, 10-yea..."

In [513]:
ratings_with_name.groupby('User-ID').count()

,ISBN,Book-Rating,Book-Title,genre_new,clean_summary,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
User-ID,,,,,,,,,,,
9,2,2,2,2,2,2,2,2,2,2,2
16,2,2,2,2,2,2,2,2,2,2,2
17,2,2,2,2,2,2,2,2,2,2,2
26,1,1,1,1,1,1,1,1,1,1,1
42,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
278831,1,1,1,1,1,1,1,1,1,1,1
278843,12,12,12,12,12,12,12,12,12,12,12
278846,1,1,1,1,1,1,1,1,1,1,1
278851,2,2,2,2,2,2,2,2,2,2,2
278854,2,2,2,2,2,2,2,2,2,2,2

In [514]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 100

In [515]:
p_user=x[x].index

In [516]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(p_user)]

In [517]:
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,genre_new,clean_summary,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1,278418,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
4,7158,0446520802,10,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
7,11676,0446520802,10,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
12,23768,0446520802,6,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
16,28204,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
142369,275970,0670036390,0,The Truth About Forever,[Young adult literature],Macy is still recovering from the sudden loss...,Sarah Dessen,2004,Viking Press,http://images.amazon.com/images/P/0670036390.0...,http://images.amazon.com/images/P/0670036390.0...,http://images.amazon.com/images/P/0670036390.0...
142370,275970,0743518160,0,The Body Artist,"[Speculative fiction, Fiction, Novella]","Lauren Hartke and her film director husband, ...",Don DeLillo,2001,Audioworks,http://images.amazon.com/images/P/0743518160.0...,http://images.amazon.com/images/P/0743518160.0...,http://images.amazon.com/images/P/0743518160.0...
142371,275970,0749312270,0,Smile,"[Autobiography, Graphic novel]","After a severe trip and fall accident, Raina ...",DEBORAH MOGGACH,1998,Random House UK Distribution,http://images.amazon.com/images/P/0749312270.0...,http://images.amazon.com/images/P/0749312270.0...,http://images.amazon.com/images/P/0749312270.0...
142372,275970,0865714215,0,Stormy Weather,[Fiction],"Young newlyweds Max and Bonnie Brooks, on the...",Guy Dauncey,2001,New Society Publishers,http://images.amazon.com/images/P/0865714215.0...,http://images.amazon.com/images/P/0865714215.0...,http://images.amazon.com/images/P/0865714215.0...
142373,275970,1400031176,0,Wetware,"[Science Fiction, Speculative fiction]","Set in 2030–2031, ten years after the events ...",Craig Nova,2003,Vintage Books USA,http://images.amazon.com/images/P/1400031176.0...,http://images.amazon.com/images/P/1400031176.0...,http://images.amazon.com/images/P/1400031176.0...

In [518]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=30

In [519]:
famous_books = y[y].index

In [520]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [521]:
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,genre_new,clean_summary,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1,278418,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
4,7158,0446520802,10,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
7,11676,0446520802,10,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
12,23768,0446520802,6,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
16,28204,0446520802,0,The Notebook,[Romance novel],"The story begins with Noah, an 80-year-old ma...",Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
141959,245963,0380898020,0,Wings,"[Speculative fiction, Novel]",The novel deals with teenager Vanya Smurov's ...,Neal Travis,1985,Avon Books,http://images.amazon.com/images/P/0380898020.0...,http://images.amazon.com/images/P/0380898020.0...,http://images.amazon.com/images/P/0380898020.0...
141960,245963,0380898020,0,Wings,"[Fantasy, Young adult literature, Romance novel]",Fifteen-year-old Laurel has lived her whole l...,Neal Travis,1985,Avon Books,http://images.amazon.com/images/P/0380898020.0...,http://images.amazon.com/images/P/0380898020.0...,http://images.amazon.com/images/P/0380898020.0...
141963,245963,0441028845,0,Archangel,"[Novel, Fiction, Suspense]","While attending a conference in Moscow, an hi...",Gerald Seymour,1983,Diamond Books (NY),http://images.amazon.com/images/P/0441028845.0...,http://images.amazon.com/images/P/0441028845.0...,http://images.amazon.com/images/P/0441028845.0...
141964,245963,0441028845,0,Archangel,"[Science Fiction, Speculative fiction, Fantasy...","Angels and mortals, who need one another but ...",Gerald Seymour,1983,Diamond Books (NY),http://images.amazon.com/images/P/0441028845.0...,http://images.amazon.com/images/P/0441028845.0...,http://images.amazon.com/images/P/0441028845.0...
142320,271284,0440910927,0,The Rainmaker,"[Mystery, Novel, Fiction, Suspense]",Rudy Baylor is about to graduate from Memphis...,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...

In [522]:
# final_ratings.drop_duplicates()

In [523]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [524]:
pt

User-ID,6251,6575,7158,7346,11601,11676,12538,13552,14521,16634,...,265115,265313,266226,268330,269566,271284,274061,274308,275970,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
2nd Chance,NaN,NaN,NaN,NaN,0.0,7.500000,NaN,NaN,NaN,NaN,...,0.0,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
A Case of Need,0.0,NaN,NaN,NaN,NaN,9.000000,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,0.0,7.0,NaN,0.0
A Civil Action,NaN,0.0,NaN,0.0,NaN,3.500000,NaN,0.0,NaN,8.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
A Man in Full,0.0,0.0,NaN,NaN,0.0,6.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0
A Map of the World,NaN,7.0,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wings,NaN,NaN,0.0,NaN,NaN,8.000000,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Winter Moon,NaN,NaN,0.0,NaN,NaN,10.000000,NaN,0.0,0.0,NaN,...,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
Wish You Well,NaN,NaN,NaN,NaN,NaN,4.500000,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Without Remorse,0.0,NaN,NaN,NaN,0.0,4.000000,NaN,NaN,0.0,NaN,...,0.0,8.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,3.333333,0.0,NaN,1.0,8.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [525]:
pt.fillna(0,inplace=True)

In [526]:
pt

User-ID,6251,6575,7158,7346,11601,11676,12538,13552,14521,16634,...,265115,265313,266226,268330,269566,271284,274061,274308,275970,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
2nd Chance,0.0,0.0,0.0,0.0,0.0,7.500000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Case of Need,0.0,0.0,0.0,0.0,0.0,9.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
A Civil Action,0.0,0.0,0.0,0.0,0.0,3.500000,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Man in Full,0.0,0.0,0.0,0.0,0.0,6.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Map of the World,0.0,7.0,0.0,0.0,0.0,8.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wings,0.0,0.0,0.0,0.0,0.0,8.000000,0.0,9.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Winter Moon,0.0,0.0,0.0,0.0,0.0,10.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wish You Well,0.0,0.0,0.0,0.0,0.0,4.500000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Without Remorse,0.0,0.0,0.0,0.0,0.0,4.000000,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,3.333333,0.0,0.0,1.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [527]:
from sklearn.metrics.pairwise import cosine_similarity

In [528]:
similarity_scores = cosine_similarity(pt)

In [529]:
similarity_scores[0]

array([1.        , 0.16441545, 0.19620228, 0.11339609, 0.16414704,
       0.2223464 , 0.21051001, 0.12228489, 0.25272292, 0.        ,
       0.07135023, 0.        , 0.07401403, 0.10282357, 0.18348205,
       0.13822903, 0.20057648, 0.07401403, 0.29149789, 0.18216812,
       0.09111212, 0.11519086, 0.03362618, 0.16512059, 0.2674637 ,
       0.25291802, 0.3687253 , 0.22448854, 0.25246412, 0.19788406,
       0.33843898, 0.03775338, 0.22760968, 0.23914223, 0.09014626,
       0.25212588, 0.21931758, 0.16422893, 0.10430201, 0.07191261,
       0.        , 0.23734948, 0.23089211, 0.07927606, 0.19083369,
       0.23205859, 0.16255787, 0.35908542, 0.17612586, 0.17518242,
       0.10455493, 0.        , 0.11538252, 0.21568727, 0.22146907,
       0.29132062, 0.27273028, 0.5484587 , 0.47827831, 0.28271781,
       0.1124382 , 0.17031727, 0.29732404, 0.05115664, 0.42042027,
       0.25543205, 0.27488427, 0.37054188, 0.39391285, 0.13956606,
       0.09329055, 0.08890901, 0.22589042, 0.        , 0.12761878,
       0.06618873, 0.03094626, 0.16157166, 0.21403846, 0.06854905,
       0.        , 0.20792583, 0.2398717 , 0.30091092, 0.40255671,
       0.07069366, 0.31766938, 0.19435429, 0.        , 0.18518988,
       0.18597728, 0.26318651, 0.17889609, 0.09217326, 0.        ,
       0.19241733, 0.11362665, 0.37176921, 0.20564715, 0.25269935,
       0.26704434, 0.0934279 , 0.4931456 , 0.34804631, 0.08717368,
       0.        , 0.17443119, 0.42098996, 0.        , 0.25059263,
       0.        , 0.        , 0.        , 0.17621548, 0.39791643,
       0.18896157, 0.12716313, 0.28296807, 0.1785207 , 0.23627444,
       0.37383389, 0.23973757, 0.08110833, 0.        , 0.30355765,
       0.20039801, 0.07400338, 0.        , 0.15732569, 0.11171051,
       0.10405014, 0.17372235, 0.12301856, 0.19369164, 0.3116042 ,
       0.        , 0.12840413, 0.        , 0.11266288, 0.13898998,
       0.        , 0.        , 0.20810827, 0.0866016 , 0.05592865,
       0.12329372, 0.12199477, 0.28563561, 0.15587353, 0.23950359,
       0.24889992, 0.13624096, 0.05124805, 0.17559729, 0.2454514 ,
       0.10414416, 0.24713093, 0.08637852, 0.13619315, 0.15786289,
       0.31865252, 0.57175239, 0.33597584, 0.1820396 , 0.38179256,
       0.        , 0.30102469, 0.        , 0.11345805, 0.28200859,
       0.13610516, 0.25963906, 0.07244162, 0.16307334, 0.33454884,
       0.23259852, 0.10427441, 0.0621432 , 0.19111412, 0.3007692 ,
       0.30684564, 0.26480326, 0.29234791, 0.04831665, 0.16902945,
       0.05673798, 0.        , 0.19398695, 0.03734173, 0.49010069,
       0.15988275, 0.16976088, 0.18698286, 0.24917474, 0.10610146,
       0.28416638, 0.12821682, 0.28498677, 0.43869775, 0.05609486,
       0.04298518])

In [530]:
similarity_scores.shape

(201, 201)

In [531]:
def recommend(book_name):
  #fetch index
  index = np.where(pt.index==book_name)[0][0]
  similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[0:6]
  data = []
  for i in similar_items:
    item = []
    temp_df = bcom[bcom['Book-Title']==pt.index[i[0]]]
    item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
    item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
    item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
    item.extend(list(temp_df.drop_duplicates('Book-Title')['clean_summary'].values))
    data.append(item)
  return data

In [532]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(bcom,open('books.pkl','wb'))
pickle.dump(bcollect,open('bookFinal.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))